h1
{
    outline:3px dashed green;
    width:300px;
    height:200px;
    float:left;
    background-color:blueviolet;
}
h3
{
float:right;
width:300px;
height:200px;
background-color:blueviolet;
outline: 3px dashed green;
}
h2
{
    width:300px;
    height:200px;
    background-color:blueviolet;
    float:left;
    margin-left:20px;
    outline:3px dashed green;
}
h5
{
    width:300px;
    height:200px;
    background-color:blueviolet;
    float:left;
    margin-left:20px;
    outline:3px dashed green;
}